/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
* COLORS..............
* PADDINGS............
* SIZES...............
*/

/*------------------------------------*\
    $COLORS
\*------------------------------------*/

$primary-color-dark:   #5D4037;
$primary-color:        #795548;
$primary-color-light:  #D7CCC8;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF9800;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

/*------------------------------------*\
    $PADDINGS
\*------------------------------------*/

/*------------------------------------*\
    $SIZES
\*------------------------------------*/

$text-size: 17px;
