@import "../generic/variables";

.header {
  display: flex;
  flex-direction: column;
  & > .top {
    background-color: $primary-color-dark;
  }
  & > nav {
    background-color: $primary-color;
  }
}